<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68544054220-hdkfbpv63iti3oq8cbo425eo5crf1vse.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68544054220-hdkfbpv63iti3oq8cbo425eo5crf1vse</string>
	<key>API_KEY</key>
	<string>AIzaSyDIYSW8Qukg_gwgwmnZiRVyqEBm3MG-2HE</string>
	<key>GCM_SENDER_ID</key>
	<string>68544054220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myWebSite</string>
	<key>PROJECT_ID</key>
	<string>my-web-page-ef286</string>
	<key>STORAGE_BUCKET</key>
	<string>my-web-page-ef286.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68544054220:ios:a294c604e3b3cfbd5d9369</string>
</dict>
</plist>